body {
  margin: 0;
  padding: 0;
  background-color: #f3e3d0;
}
.container {
  margin-top: 30px;
  max-width: 100%;
}

.navbar {
  justify-content: center;
  height: 70px;
  width: 100%;
  margin-bottom: 30px;
  font-family: "Tangerine", serif;
}

.navbar-title {
  text-align: center;
  font-size: 25px;
  color: goldenrod;
}

.corporate {
  font-size: 20px;
  font-weight: bold;
  color: goldenrod;
  margin-right: auto;
  padding: 10px;
}

.navbarindex {
  text-align: center;
  position: absolute;
}

.navbar-nav {
  margin: auto;
  justify-content: center;
}
.nav-link {
  font-size: 16px;
}

.nav-link:hover {
  color: white;
}

#about {
  color: white;
  background-color: #1b3c53;
  margin-top: 50px;
}

#mission {
  color: black;
  background-color: #82b8e7;
  margin-top: 100px;
}

#vision {
  color: black;
  background-color: #c0def3;
  margin-top: 150px;
}
/* 
#about:hover {
    transition: 2.2s;
    margin-top: -30px;
    height: 750px;
  }

  #mission:hover {
    color: black;
    margin-top: 0px;
    transition: 2.2s;
    margin-top: -30px;
    height: 750px;
  }

  #vision:hover {
    color: black;
    margin-top: -30px;
    transition: 2.2s;
    height: 750px;
  } */


  .modal-title{
    font-family: "Tangerine", serif;
  }

.dropdown-item:hover {
  background-color: white;
  color: black;
}
.card {
  width: 400px;
  height: 400px;
  font-size: 13px;
}

.row {
  max-width: 100%;
}

@media (min-width: 50px) and (max-width: 576px) {
  .mainnav {
    display: none;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }
   .navbar {
    width: 100%; /* Largura fixa */
    height: 70px; /* Altura fixa */
    text-align: right;
    position: absolute;
  }

  .corporate {
    font-size: 15px;
    font-weight: bold;
    color: goldenrod;
    margin-right: auto;
    padding: 0px;
    font-family: "Tangerine", serif;
    
  }
  
  .navbar-brand {
    font-family: "Tangerine", serif;
    font-size: 15px;
  }
  .card {
    width: 100%;
    height: 700px;
  }

  #about {
    color: black;
    margin-top: 0px;
    background-color: #e6ebed;
    font-size: 16px;
    width: 100%;
  }

  #mission {
    color: black;
    background-color: #f5f6f8;
    margin-top: 0px;
  }

  #vision {
    color: black;
    background-color: #e1e8ed;
    margin-top: 0px;
  }

  .card-title {
    font-family: "Tangerine", serif;
    font-size: 25px;
    text-shadow: 4px 4px 4px #aaa;
  }

  .card-image-about {
    max-width: 100%;
    height: 300px;
    background-image: url("../img/backgroud/img\ bakg\ home\ main.jpeg");
    background-size: cover; /* Faz a imagem cobrir a área [1] */
    margin-top: 50px;
  }
  .card-image-mission {
    max-width: 100%;
    height: 300px;
    background-image: url("../img/backgroud/img\ bkg\ kitchen.jpg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
  }
  .card-image-vision {
    max-width: 100%;
    height: 300px;
    background-image: url("../img/backgroud/img\ bkg\ sala.jpg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
  }
  .card-image-modal-deep {
    max-width: 100%;
    height: 250px;
    background-image: url("../img/backgroudmodal/img\ bakg\ deep.jpg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
    border-radius: 20px;
    margin-top: 10px;
  }
  .card-image-modal-regular {
    max-width: 100%;
    height: 250px;
    background-image: url("../img/backgroudmodal/img\ bakg\ vacun.jpeg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
  }

 .card-image-modal-construction{
    max-width: 100%;
    height: 250px;
    background-image: url("../img/backgroudmodal/img\ bakg\ posconstruction.jpg");
    background-size: cover; /* Faz a imagem cobrir o card */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
 }
  .row {
    max-height: 1200px;
    max-width: 1200px; /* Largura máxima do conteúdo do body */
  }

  .offcanvas-body {
    text-align: right;
  }

  #offcanvasDarkNavbar {
    width: 250px; /* Largura fixa */
    height: 500px;
    right: 0;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .mainnav {
    display: none;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #f3e3d0;
  }
  .container {
    max-width: 100%;
    justify-content: center;
    display: flex;
  }

  .card {
    width: 350px;
    height: 350px;
    font-size: 13px;
  }
  

  #about {
    color: white;
    background-color: #1b3c53;
    margin-top: 0px;
  }

  #mission {
    color: black;
    background-color: #82b8e7;
    margin-top: 0px;
  }

  #vision {
    color: black;
    background-color: #c0def3;
    margin-top: 0px;
  }
  .row {
    gap: 10px;
    margin: auto;
    margin-top: 60px;
  }
  .navbar-title {
    text-align: center;
    color: goldenrod;
    font-size: 30px;
    font-weight: bolder;
  }

  .navbar {
    width: 100%; /* Largura fixa */
    height: 70px; /* Altura fixa */
    margin-bottom: 20px;
    text-align: right;
    border-radius: 0px;
    font-family: "Tangerine", serif;
  }

  .offcanvas-body {
    text-align: right;
  }

  #offcanvasDarkNavbar {
    width: 250px; /* Largura fixa */
    height: 400px;
  }
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 991px) and (max-width: 1225px) {
  @media (min-width: 991px) {
    .hamburger {
      display: none;
    }
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #f3e3d0;
  }
  .container {
    margin-top: 30px;
    max-width: 100%;
  }

  .navbar-title {
    text-align: center;
    color: goldenrod;
    font-size: 20px;
    font-weight: bolder;
  }

  .corporate {
    font-size: 20px;
    font-weight: bold;
    color: goldenrod;
    margin-right: auto;
    padding: 10px;
  }

  .navbarindex {
    text-align: center;
    position: absolute;
  }

  .row {
    max-width: 100%;
    margin: auto;
  }

  .nav-link {
    font-size: 16px;
  }

  .nav-link:hover {
    color: white;
  }

  .dropdown-item:hover {
    background-color: white;
    color: black;
  }
  .card {
    width: 300px;
    height: 450px;
    font-size: 13px;
  }

  #about:hover {
    transition: 2.2s;
    margin-top: -30px;
    height: 750px;
  }

  #mission:hover {
    color: black;
    margin-top: 0px;
    transition: 2.2s;
    margin-top: -30px;
    height: 750px;
  }

  #vision:hover {
    color: black;
    margin-top: -30px;
    transition: 2.2s;
    height: 750px;
  }
}
