
body{
margin: 0;
pad: 0;
background-color: rgb(193, 241, 225);

}
.container{
    margin-top: 30px;
}


.navbar {
  justify-content: center;
  height: 130px;
}

.navbar-title {
  text-align: center;
  color: white;
  font-size: 40px;
}

.navbar-nav {
  margin: auto;
 
}
.nav-link:hover{
  color: white;

}

.dropdown-item:hover{
  background-color: white;
  color: black;

}
.card {
  margin-top: 30px;
}


