body {
  margin: 0;
  pad: 0;
  background-color: rgb(180, 243, 244);
}
.container {
  margin-top: 30px;
  max-width: 100%;
}

.row{
  gap: 15px;
}

.navbar {
  justify-content: center;
  height: 130px;
}

.navbar-title {
  text-align: center;
  color: white;
  font-size: 40px;
}

.navbar-nav {
  margin: auto;
}
.nav-link:hover {
  color: white;
}
.nav-link {
  font-size: 20px;
}
.dropdown-item:hover {
  background-color: white;
  color: black;
}
.card-container {
  margin-top: 20px;
  display: flex; /* Ativa o Flexbox */
  width: 45rem;
  border: 3px solid #0e0d0d;
  background-color: white;
  border-radius: 15px;
}

.image-card {
  width: 100%; /* Ajuste conforme necessário */
  padding: 10px;
  text-align: center;
}

img {
  width: 250px; /* Largura fixa */
  height: 400px; /* Altura fixa */
  object-fit: cover; /* Preenche a caixa, cortando o excesso */
  /* Ou use 'contain' para que a imagem caiba inteira */
  background-size: cover; /* Cobre a tela toda */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Não repete a imagem */
  background-attachment: fixed;
  border-radius: 30px;
  border: solid 5px;
}

.row {
  justify-content: center;
}

@media (min-width: 275px) and (max-width: 576px) {
  .navbar1 {
    display: none;
  }

  body {
    margin-top: 70px;
  }

  .navbar-title {
    text-align: center;
    color: white;
    font-size: 30px;
  }

  .navbar {
    width: 100%; /* Largura fixa */
    height: 70px; /* Altura fixa */
    margin-bottom: 20px;
    text-align: right;
  }

  .offcanvas-body {
    text-align: right;
  }

  #offcanvasDarkNavbar {
    width: 250px; /* Largura fixa */
    height: 400px;
  }
  img {
    width: 150px; /* Largura fixa */
    height: 250px; /* Altura fixa */
    object-fit: cover; /* Preenche a caixa, cortando o excesso */
    /* Ou use 'contain' para que a imagem caiba inteira */
    background-size: cover; /* Cobre a tela toda */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-attachment: fixed;
    border-radius: 30px;
    border: solid 5px;
  }

  .image-card {
    width: 65%; /* Ajuste conforme necessário */
    padding: 10px;
    text-align: center;
  }

  .card-container {
    margin-top: 10px;
    display: flex; /* Ativa o Flexbox */
    width: 80%rem;
    height: 20rem;
    border-radius: 15px;
    background-color: white;
  }

  .card-text {
    font-size: 10px;
  }

  .card-title {
    font-size: 10px;
  }
}

@media (min-width: 575px) and (max-width: 991px) {
  .navbar1 {
    display: none;
  }

  body {
    margin: 0;
    pad: 0;
    margin-top: 70px;
  }

  .navbar-title {
    text-align: center;
    color: white;
    font-size: 30px;
  }

  .navbar {
    width: 100%; /* Largura fixa */
    height: 70px; /* Altura fixa */
    margin-bottom: 20px;
    text-align: right;
  }

  .offcanvas-body {
    text-align: right;
  }

  #offcanvasDarkNavbar {
    width: 250px; /* Largura fixa */
    height: 400px;
  }
  img {
    width: 200px; /* Largura fixa */
    height: 300px; /* Altura fixa */
    object-fit: cover; /* Preenche a caixa, cortando o excesso */
    /* Ou use 'contain' para que a imagem caiba inteira */
    background-size: cover; /* Cobre a tela toda */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-attachment: fixed;
    border-radius: 30px;
    border: solid 5px;
  }

  .image-card {
    width: 200%; /* Ajuste conforme necessário */
    padding: 10px;
    text-align: center;
  }

  .card-container {
    margin-top: 10px;
    display: flex; /* Ativa o Flexbox */
    width: 90%rem;
    height: 23rem;
    border-radius: 15px;
    background-color: white;
  }

  .card-text {
    font-size: 10px;
  }

  .card-title {
    font-size: 10px;
  }
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}
